<app-navbar></app-navbar>
<div class="jumbotron text-center">
    <div class="display-4">Contact Us</div>
    <p class="lead">This is a simple contact us page</p>
</div>
<div class="container">
    <section>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod cumque sequi ipsa quos placeat aut totam dolor
            omnis nemo repellendus inventore quisquam sunt eum ad, neque magnam ullam. Nesciunt recusandae accusantium
            esse iure ullam similique cum sed veniam dolorum, enim facilis maiores aperiam. Enim at nulla dolorum
            blanditiis exercitationem esse perspiciatis quod dolorem quaerat facere provident autem illum maiores itaque
            ipsa ex nemo accusantium, placeat, neque error. Dolore, vitae labore? Cupiditate, ut vel. Reiciendis
            doloremque magnam ea enim ad, est necessitatibus, sunt assumenda illo, accusamus id perspiciatis delectus
            amet vel distinctio voluptatibus voluptas ducimus asperiores ratione sequi corporis! Soluta, praesentium!
        </p>
    </section>
    <section>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod cumque sequi ipsa quos placeat aut totam dolor
            omnis nemo repellendus inventore quisquam sunt eum ad, neque magnam ullam. Nesciunt recusandae accusantium
            esse iure ullam similique cum sed veniam dolorum, enim facilis maiores aperiam. Enim at nulla dolorum
            blanditiis exercitationem esse perspiciatis quod dolorem quaerat facere provident autem illum maiores itaque
            ipsa ex nemo accusantium, placeat, neque error. Dolore, vitae labore? Cupiditate, ut vel. Reiciendis
            doloremque magnam ea enim ad, est necessitatibus, sunt assumenda illo, accusamus id perspiciatis delectus
            amet vel distinctio voluptatibus voluptas ducimus asperiores ratione sequi corporis! Soluta, praesentium!
        </p>
    </section>

</div>