<div class="container">
    <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="wrapper">
            <h2>Register</h2>
            <form #formregister="ngForm" (submit)="onsubmithandler()"> 
               <br>
               <!-- <h2>{{formregister.value|json}}</h2> -->
                <div class="form-group">
                <label>First Name</label>
                <input type="text" class="form-control" name="first-name" [(ngModel)]="usermodel.first_name"
                required #firstname="ngModel" [class.is-invalid]="firstname.invalid && firstname.touched"/>

                <small class="text-danger" [class.d-none]="firstname.valid || firstname.untouched">First name is required</small>
            </div>

            <div class="form-group">
                <label>Email</label>
                <input type="text" class="form-control" name="email" [(ngModel)]="usermodel.email"
                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                required #email="ngModel" [class.is-invalid]="email.invalid && email.touched"/>

                <div *ngIf="email.errors && email.touched">
                    <small class="text-danger" *ngIf="email.errors['required']">email is required </small>
                    <small class="text-danger" *ngIf="email.errors['pattern']">email is valid email address </small>
                </div>
            </div>

            <div class="form-group">
                <label>Mobile</label>
                <input type="text" class="form-control" name="mobile" [(ngModel)]="usermodel.mobile"
                pattern="^\d{10}$"
                required #mobile="ngModel" [class.is-invalid]="mobile.invalid && mobile.touched"/>
              <div *ngIf="mobile.errors && mobile.touched">
                <small class="text-danger" *ngIf="mobile.errors['required']">Mobile is required</small>
                <small class="text-danger" *ngIf="mobile.errors['pattern']">Mobile number should be 10 digit</small>
              </div>

                
            </div>

            <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" name="password" [(ngModel)]="usermodel.password"
                minlength="6"
                required #password="ngModel" [class.is-invalid]="password.invalid && password.touched"/>

                <div *ngIf="password.errors && password.touched">
                    <small class="text-danger" *ngIf="password.errors['required']">password is required</small>
                    <small class="text-danger" *ngIf="password.errors['minlength']">atleast 6 charecters required</small>
                </div>

                
            </div>
                <br>

                <input type="submit" value="register" class="btn btn-primary btn-block">

            </form>
            <br>
            <p class="text-center">Alredy register
                <a routerLink="/login">Click here</a>
            </p>
        </div>
    </div>
    <div class="col-md-3"></div>
    </div>
</div>
